# --- Credentials & Security ---
.env
*.env

# --- Audio Buffers & Binary Data ---
# We ignore the contents but keep the folders if you want (using .gitkeep)
temp_audio/*
static/*.wav
static/*.mp3
*.wav
*.mp3

# --- Python & Environment ---
__pycache__/
core/__pycache__/
venv/
.venv/
*.py[cod]

# --- Executables & Tools ---
*.exe
*.exe.old
.ngrok.exe
ngrok

# --- IDEs ---
.vscode/
.idea/

test.exe